body {
    margin: 0;
    font-family: monospace;
    background-color: seashell;
  }
  
  .header {
    height: 10rem;
    background: rgb(28, 97, 124);
    color: seashell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
  }
  
  h1 {
    font-size: 5rem;
    margin: 0;
    font-size: 3rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  
  #rgb {
    font-size: 3rem;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  
  .navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    max-width: 30rem;
    margin: 0px auto;
  }
  
  button {
    border: 0.1rem solid rgba(128, 128, 128, 0.2);
    margin-top: 1rem;
    font-family: monospace;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  #comment {
    padding: 0.5rem 0rem 0rem 3rem;
    margin-top: 1rem;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .boxes {
    margin: 20px auto;
    max-width: 30rem;
  }
  
  #box {
    width: 30%;
  
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
